﻿@model dynamic

@{
    Layout = null;
}

<div>
    <h1>Регистрация</h1>
    <form asp-controller="Account" asp-action="Register">
        <div class="form-group">
            <input asp-for="Name" class="form-control" type="text" placeholder="Имя" />
        </div>
        <div>
            <input asp-for="Login" class="form-control" type="text" placeholder="Логин" />
        </div>
        <div>
            <input autocomplete="new-password" asp-for="Password" placeholder="Пароль" class="form-control" type="password"/>
        </div>
        <div>
            <input autocomplete="new-password" asp-for="PasswordConfirm" placeholder="Подтвердите пароль" class="form-control" type="password"/>
        </div>
        <div class="button-container">
            <button class="btn" type="submit">Зарегистрироваться</button>
            <a asp-controller="Account" asp-action="Login" target="_blank">Уже зарегистрирован</a>
        </div>
    </form>
    
        @if (Model.Errors != null && Model.Errors.Any())
        {
            <div class="error-container">
                <ul>
                @foreach (var error in Model.Errors)
                {
                    <li>@error</li>
                }
                </ul>
            </div>
        }
</div>